name: My First CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Build
        run: echo "Building application"

      - name: Test
        run: echo "Testing application"

      - name: Deploy
        run: echo "Deploying application"
